body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}


label {
    font-size: 15px;
}

/* 去除浏览器中输入框调整数字大小的样式 */
input[type="text"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

}


.time {
    font-size: 6rem;
    margin-bottom: 50px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.clock {
    text-align: center;
    /* font-size: 36px; */
    margin-top: 50px;
}



.alarm-indicator {
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #009d5e;
}

.alarm-indicator.active {
    color: #009d5e;
    font-size: 15px;
    margin-bottom: 50px;
}

input[type="text"] {
    width: 90px;
    height: 37px;
    border: none;
    border-radius: 20px;
}


button {
    padding: 12px 40px;
    background-color: #009d5e;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#hours::placeholder {
    text-align: center;
}

#minutes::placeholder {
    text-align: center;
}

#hours{
    text-align: center;
}
#minutes {
    text-align: center;
}

#error-message {
    color: #fff;
    font-size: 14px;
    /* font-family: Arial, sans-serif; */
    background-color: #222;
    padding: 20px;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    margin-bottom: 10px;
}